<div #gridStackContainer class="grid-stack" data-gs-width="12" data-gs-animate="yes" >
    <ng-container *ngFor="let widget of widgets" >
      <app-widget [positionX]="widget.positionX" [positionY]="widget.positionY" [width]="widget.width" [height]="widget.height">
        <span>{{ widget.content }} </span>
        <!-- <canvas id="{{ widget.id }}">{{ widget.id }}</canvas>
          <div class="highcharts-figure" [id]="widget.id"></div> -->
          
          <div id={{widget.id}}></div>    <!--this id check on loaded compo. that id is avai or not and load graph-->
        <app-oee></app-oee>
        <app-fpy></app-fpy>
        <app-productivity></app-productivity>
        <app-capacity-utilization></app-capacity-utilization>
        <app-unplanned-downtime></app-unplanned-downtime>
        <app-planned-downtime></app-planned-downtime>
      </app-widget>
      <!-- <div id="{{widget.id}}"></div> -->
    </ng-container>
    <ng-content></ng-content>
  </div>
  <div style="display:none" id="container"></div>